
body {
	background-color: #FFF;
}

ul.sidebarnav {
	list-style-type: none;

}
.navbar {
	margin-bottom: 50px;

}
.list-group-item {
	width: 194px;
	text-align: left;
	text-indent: 0px;
	font-size: 20px;
}
a:hover {
    text-decoration: none;
      color: #FF00FF;
}

#dashboard {
	font-size: 30px;
	text-indent: 15px;
}
.sidebar-fixed {
	position: absolute;
}

