body {
	background-image: url('/party_soiree_template/bootstrap3/multipage/img/grid_noise.png');
}
::selection {
	background: none;
}

 h1.welcome {
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 200px;
	/*margin-left: 210px;
	margin-right: 30px;*/
	text-align: center;
	margin-bottom: 1em;
	color: #000;
}

h1.steps_header {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 80px;
	margin-top: 2em;
	margin-left: 485px;
	margin-bottom: 1em;
	color: #000;
}
em {
	color: #000;
}
.steps {
	position: relative;
}

.step_one {
	float: left;
	margin-left: 252px;
}
.step_two {
	float: left;
	margin-left:100px;
	margin-right: 100px;
}

.party_attributes {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

.btn {
	background-color: #00d0c1;
	color: #000;
	margin-left:468px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

button.btn {
	margin-left: 0px;
}

input#party_name.form-control, input#location.form-control, input#datetimepicker.form-control, input#datetimepicker2.form-control, input#budget.form-control {
	text-align: center
}

#create_party {
	margin-left:528px;
}
.form-control:input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color: #FFF;
background-image: none;
color: rgb(0, 0, 0);
}


.btn-create {
	background-color: #00d0c1;
	color: #000;
	margin-top: 30px;
	margin-left:468px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.btn-choose {
	background-color: #00d0c1;
	color: #000;
	margin-left:485px;
	margin-top: 20px;
	border: none;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.btn-choose:visited, .btn-choose:hover, .btn-choose:active, .btn-choose:focus, .dropdown-toggle:active, .open > .dropdown-toggle.btn-default {
	background-color: #00d0c1;
}

.btn-create:visited, .btn-create:hover, .btn-create:active, .btn-create:focus, .dropdown-toggle:active, .open > .dropdown-toggle.btn-default {
	background-color: #00d0c1;
	text-decoration: none;
	color: #000;
}

.dropdown-menu {
	background-color: #FFF;
	min-width: 174px;
	text-align: center;
	left: 485px;

}

a.list-group-item:hover, .list-group-item {
	background-color: #FFF;
	border: none;

}

.adminfooter {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#626c72;
}
