 h1.welcome {
	font-size: 100px;
	font-family: 'La Belle Aurore', cursive;
	margin-top: 200px;
	margin-left: 260px;
	margin-right: 15px;
}

body {
	background-image: url('/party_soiree_template/bootstrap3/multipage/img/grid_noise.png');
}
.btn-create {
	background-color: #00d0c1;
	color: #000;
	margin-left:468px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.btn-choose {
	background-color: #00d0c1;
	color: #000;
	margin-left:485px;
	margin-top: 20px;
	border: none;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.btn-choose:visited, .btn-choose:hover, .btn-choose:active, .btn-choose:focus, .dropdown-toggle:active, .open > .dropdown-toggle.btn-default {
	background-color: #00d0c1;
}

.btn-create:visited, .btn-create:hover, .btn-create:active, .btn-create:focus, .dropdown-toggle:active, .open > .dropdown-toggle.btn-default {
	background-color: #00d0c1;
	text-decoration: none;
	color: #000;
}

.dropdown-menu {
	background-color: #FF755A;
	min-width: 174px;
	text-align: center;
	left: 485px;

}

a.list-group-item:hover, .list-group-item {
	background-color: #FF755A;
	border: none;

}
